services:
  db:
    image: postgres:16-alpine
    env_file:
      - ../.env
    volumes:
#      - pgdata:/var/lib/postgresql/data
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/db:/var/lib/postgresql/data"
    ports:
      - "5437:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 2
    networks:
      - all-masters-net

  redis:
    image: redis:7-alpine
    ports:
      - "6378:6379"
    volumes:
      #- redisdata:/data
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/redis:/data"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - all-masters-net

  app:
    container_name: all-masters-app
#    build: .#
    build:
      context: ..            # корень проекта
      dockerfile: build/Dockerfile
    volumes:
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/logs:/app/logs"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/avatars:/images/avatars"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/collages:/images/collages"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/defaults:/images/defaults"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/new_avatars:/images/new_avatars"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/new_collages:/images/new_collages"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/new_works:/images/new_works"
      - "G:/WorkSpaces/PythonWs/telegram/project-all-masters/images/works:/images/works"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ../.env
    restart: unless-stopped
    networks:
      - all-masters-net


networks:
  all-masters-net:
    name: all-masters-net
    driver: bridge

#volumes:
#  pgdata:
#  redisdata:
